<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.GlSjPzmbMapper" >
  <resultMap id="BaseResultMap" type="com.bean.GlSjPzmb" >
    <id column="ID" property="ID" jdbcType="BIGINT" />
    <result column="K_SJZTSJPZMBID" property="kSjztsjpzmbid" jdbcType="BIGINT" />
    <result column="K_ZTDM" property="kZtdm" jdbcType="VARCHAR" />
    <result column="K_SJPZMBID" property="kSjpzmbid" jdbcType="VARCHAR" />
    <result column="K_SFMJ" property="kSfmj" jdbcType="CHAR" />
    <result column="K_MBMC" property="mbmc" jdbcType="CHAR" />
    <result column="K_KJND" property="kKjnd" jdbcType="INTEGER" />
    <result column="K_KJQJ" property="kKjqj" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bean.GlSjPzmb" extends="BaseResultMap" >
    <result column="K_QSGS" property="kQsgs" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, K_SJZTSJPZMBID, K_ZTDM, K_SJPZMBID, K_SFMJ, K_KJND, K_KJQJ
  </sql>
  
  <sql id="Blob_Column_List" >
    K_QSGS
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    *
    from gl_sj_pzmb_test
    where ID = #{ID,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gl_sj_pzmb_test
    where ID = #{ID,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bean.GlSjPzmb" >
    insert into gl_sj_pzmb_test (ID, K_SJZTSJPZMBID, K_ZTDM, 
      K_SJPZMBID, K_SFMJ, K_KJND, 
      K_KJQJ,  K_QSGS
      )
    values (#{ID,jdbcType=BIGINT}, #{kSjztsjpzmbid,jdbcType=BIGINT}, #{kZtdm,jdbcType=VARCHAR}, 
      #{kSjpzmbid,jdbcType=VARCHAR}, #{kSfmj,jdbcType=CHAR}, #{kKjnd,jdbcType=INTEGER}, 
      #{kKjqj,jdbcType=INTEGER}, #{kQsgs,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.GlSjPzmb" >
    insert into gl_sj_pzmb_test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="kSjztsjpzmbid != null" >
        K_SJZTSJPZMBID,
      </if>
      <if test="kZtdm != null" >
        K_ZTDM,
      </if>
      <if test="kSjpzmbid != null" >
        K_SJPZMBID,
      </if>
      <if test="kSfmj != null" >
        K_SFMJ,
      </if>
      <if test="kKjnd != null" >
        K_KJND,
      </if>
      <if test="kKjqj != null" >
        K_KJQJ,
      </if>
      <if test="kQsgs != null" >
        K_QSGS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=BIGINT},
      </if>
      <if test="kSjztsjpzmbid != null" >
        #{kSjztsjpzmbid,jdbcType=BIGINT},
      </if>
      <if test="kZtdm != null" >
        #{kZtdm,jdbcType=VARCHAR},
      </if>
      <if test="kSjpzmbid != null" >
        #{kSjpzmbid,jdbcType=VARCHAR},
      </if>
      <if test="kSfmj != null" >
        #{kSfmj,jdbcType=CHAR},
      </if>
       <if test="kKjnd != null" >
        #{kKjnd,jdbcType=INTEGER},
      </if>
      <if test="kKjqj != null" >
        #{kKjqj,jdbcType=INTEGER},
      </if>
      <if test="kQsgs != null" >
        #{kQsgs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.GlSjPzmb" >
    update gl_sj_pzmb_test
    <set >
      <if test="kSjztsjpzmbid != null" >
        K_SJZTSJPZMBID = #{kSjztsjpzmbid,jdbcType=BIGINT},
      </if>
      <if test="kZtdm != null" >
        K_ZTDM = #{kZtdm,jdbcType=VARCHAR},
      </if>
      <if test="kSjpzmbid != null" >
        K_SJPZMBID = #{kSjpzmbid,jdbcType=VARCHAR},
      </if>
      <if test="kSfmj != null" >
        K_SFMJ = #{kSfmj,jdbcType=CHAR},
      </if>
      <if test="kKjnd != null" >
        K_KJND = #{kKjnd,jdbcType=INTEGER},
      </if>
      <if test="kKjqj != null" >
        K_KJQJ = #{kKjqj,jdbcType=INTEGER},
      </if>
      <if test="kQsgs != null" >
        K_QSGS = #{kQsgs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=BIGINT}
  </update>

    <select id ="selectBaseListByZtdmAndKjndAndKjqj" resultMap="BaseResultMap"  >
        SELECT ID,K_SJPZMBID,K_ZTDM,K_KJND,K_KJQJ FROM gl_sj_pzmb_test
        WHERE k_ztdm=#{ztdm} AND k_kjnd=#{k_kjnd} AND k_kjqj = #{kjqj} AND K_SFMJ=1
  </select>
    <select id="selectByGlSjPzmb" resultMap="BaseResultMap" >


          SELECT * FROM gl_sj_pzmb_test
          WHERE ID=#{ID}

    </select>
  <select id="selectByMap" resultMap="BaseResultMap" >


        SELECT * FROM gl_sj_pzmb_test
          WHERE ID=#{ID2}


  </select>


</mapper>